.container {
  padding: 20px;
}

#sidebar {
  width: 290px;
  height: 100vh; /* 100% of the viewheight, change after merge of the header and search */
  flex-shrink: 0;
  border-radius: 30px;
  border: 2px solid #72aaff;
  background: var(--M3-sys-light-on-primary, #fff);
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

/*format for the categories*/
.component {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Spread the text and the icon */
  padding: 12px 20px; /* Add padding around the text */
}

.component h2 {
  /* h2 */
  margin: 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #000;
  font-weight: 525;
  font-style: norrrrrmal;
  line-height: 48px;
}

.component svg {
  /* Style for the chevron icon */
  width: 24px;
  height: 24px;
}
