/* .container {
  padding: 10px;
} */

.sidebar {
  width: 298px; /* 100% of the viewheight, change after merge of the header and search */
  min-height: 90vh;
  flex-shrink: 0;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: var(--M3-sys-light-on-primary, #fff);
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

/* format for the categories */
.component {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  box-sizing: border-box;
  cursor: pointer;
  flex-direction: column;
}

.filterRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.component h2 {
  margin: 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 48px;
}

.component svg {
  /* Style for the chevron icon */
  transition: transform 0.3s ease;
  width: 24px;
  height: 24px;
}

.component svg.open {
  transform: rotate(90deg);
}

.dropdown {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: left;
  margin-left: 0;
}
